<mat-card>
  
  <mat-card-content>
  <mat-card-title>Info</mat-card-title>
  <form (ngSubmit)="submitdetails()" #empForm="ngForm">

      <!-- <section>
        <mat-checkbox>Full-time employee</mat-checkbox>
      </section> -->

      <section>
        <mat-form-field>
          <mat-select matSelect placeholder="Course" required name="course" [(ngModel)]="model.course">
            <mat-option value="spanish">Spanish Oaks</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field>
          <mat-select matSelect placeholder="Tee" required name="tee" [(ngModel)]="model.tee">
            <mat-option value="womens">Womens</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" [disabled]="empForm.invalid">Start Game</button>

    </form>

  </mat-card-content>
  
</mat-card>