  mat-card{
    margin:10px 0px 10px 0px;
    height:350px;
  }
  
  section {
    margin-bottom: 20px;
    width:268px;
  }
  
  mat-radio-group {
    display: flex;
    flex-flow:wrap;
  }

  .scorebox{
    display:flex;
    
  }

  button{
    margin-top:120px;
  }

  @media only screen and (max-width: 619px) {

    mat-card{
        margin:0px 0px 10px 10px;
    }

}