<mat-card>
  
  <mat-card-content>
  <mat-card-title>Info</mat-card-title>
  <form (ngSubmit)="submitdetails()" #empForm="ngForm">

      <!-- <section>
        <mat-checkbox>Full-time employee</mat-checkbox>
      </section> -->

      <section>
        <mat-form-field>
          <mat-select  matSelect placeholder="Course" required name="course" [(ngModel)]="model.course" (selectionChange)="changedhole()">

            <ng-container *ngIf="info">
              <mat-option *ngFor="let course of info.courses" value={{course.id}} >{{course.name}}</mat-option>
            </ng-container>

          </mat-select>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field>
          <mat-select matSelect placeholder="Tee" required name="tee" [(ngModel)]="model.tee">
            <ng-container *ngIf="courseinfo">
                <mat-option *ngFor="let boxes of courseinfo.data.holes[0].teeBoxes" value={{boxes.teeTypeId}} >{{boxes.teeType}}</mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" [disabled]="empForm.invalid">Start Game</button>

    </form>

  </mat-card-content>
  
</mat-card>