mat-card {
    height:350px;
    margin:10px 10px 10px 10px;
    width:578px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
.scores{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
}

p{
    margin: 20px;
}

@media only screen and (max-width: 939px) {

    mat-card{
        margin:0px 10px 10px 10px;
    }

}
@media only screen and (max-width: 1249px) {

    mat-card{
        width:268px;
    }

}