<mat-card>
  <mat-card-title>Player Input</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="submit()" #empForm="ngForm">
      <section>
        <mat-form-field>
        <input id="name" matInput placeholder="Name" required
            name="firstName"
            [(ngModel)]="model.name">
      </mat-form-field>
      </section>

      <!-- <section>
        <mat-checkbox>Full-time employee</mat-checkbox>
      </section> -->

      <section>
        <label>Player</label>
        <mat-radio-group id="playerselect" required name="playerselect" [(ngModel)]="model.playernum" required>
          <mat-radio-button value="1">1</mat-radio-button>
          <mat-radio-button value="2">2</mat-radio-button>
          <mat-radio-button value="3">3</mat-radio-button>
          <mat-radio-button value="4">4</mat-radio-button>
        </mat-radio-group>
      

      <button mat-raised-button color="primary" [disabled]="empForm.invalid">Add player</button>

      </section>

    </form>
  </mat-card-content>

</mat-card>