h1{
    color: white;
    font-size:7vw;
}
.wrap{
    display:flex;
    justify-items: center;
    align-items: center;
    flex-flow:column;
    width:100%;
}
button{
    display:flex;
    justify-content: center;
}